extends base

block head
    title Bienvenido

block container
    h3 Bienvenido al Dashboard De Empleados
    table.table
        tr.table-active
            th ID
            th Nombre
            th Apellido
            th Dirección
            th Departamento
            th Acción
        each r in result
            tr
                td #{r.idempleado}
                td #{r.nombre}
                td #{r.apellido}
                td #{r.dir}
                each a in departamento
                    if a.iddepa === r.departamento
                        td #{a.desc}

                td
                    a(href="/empleados/"+r.idempleado).text-decoration-none ✍️
                    a(href="/delemp/"+r.idempleado).text-decoration-none ⛔
    a(href="/empleados").text-decoration-none Agregar ➕
    h3 Bienvenido al Dashboard De Departamento
    table.table
        tr.table-active
            th ID
            th Descripción
            th Salario
            th Acción
        each r in departamento
            tr
                td #{r.iddepa}
                td #{r.desc}
                td Lps. #{r.salario}
                td
                    a(href="/depa/"+r.iddepa).text-decoration-none ✍️

                    a(href="/deldep/"+r.iddepa).text-decoration-none ⛔
    a(href="/depa").text-decoration-none Agregar ➕
